.tableContent {
    .maxContent {
        display: block;
        width: max-content;
        text-transform: none;
    }
    @media (max-width: 991px) {
        .scrollTable {
          overflow-x: scroll;
        }
    }
}